@model ConsultorioDental.Modelos.ViewModels.CitaVM
@using ConsultorioDental.Utilidades
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Detalle Cita";
    var userId = UserManager.GetUserId(User);
}

<!--Creamos el Formulario de envio de Información-->
<form method="post">
    @if (User.IsInRole(DS.Role_Dentista) || Model.Cita.UsuarioAplicacionId == userId)
    {
        <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">
            <div class="row border-0">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
            </div>
            <!--Cambio de Titulo de la Página-->
            @if (Model.Cita.Id != 0)
            {
                //Actualizar
                titulo = "Detalle de la Cita";
                <input type="hidden" asp-for="Cita.Id" id="id" />
            }

            <!--Mostramos el Titulo de la página-->
            <div class="col-12 border-bottom p-0">
                <h2 class="text-primary">@titulo</h2>
            </div>

            <!--Campo fecha -->
            <div class="row mb-2 mt-2">
                <div class="col-md-6">
                    <label>Fecha</label>
                    @* <input asp-for="Cita.Fecha" class="form-control" /> *@
                    <input asp-for="Cita.Fecha" class="form-control" type="date" disabled />
                    <span asp-validation-for="Cita.Fecha" class="text-danger"></span>
                </div>
            </div>
            <!--Campo hora-->
            <div class="row">
                <div class="col-md-6">
                    <label>Hora</label>
                    @* <input asp-for="Cita.Hora" class="form-control" /> *@
                    <input asp-for="Cita.Hora" class="form-control" type="time" disabled />
                    <span asp-validation-for="Cita.Hora" class="text-danger"></span>
                </div>
            </div>

            <!--Lista Tratamiento-->
            <div class="row">
                <div class="col-md-6">
                    <label>Tratamiento</label>
                    <select asp-for="Cita.TratamientoId" asp-items="@Model.TratamientoLista" class="form-control" disabled>
                        <option disabled selected>--Seleccione un Tratamiento--</option>
                    </select>
                    <span asp-validation-for="Cita.TratamientoId" class="text-danger"></span>
                </div>
            </div>
            <!--Lista Paciente-->
            <div class="row">
                <div class="col-md-6">
                    <label>Paciente</label>
                    <select asp-for="Cita.UsuarioAplicacionId" asp-items="@Model.UsuarioAplicacionLista" class="form-control" disabled>
                        <option disabled selected>--Seleccione un Paciente--</option>
                    </select>
                    <span asp-validation-for="Cita.UsuarioAplicacionId" class="text-danger"></span>
                </div>
            </div>


            <!--Precentamos las Vistas parciales-->
            <br />
            <div class="d-grid gap-2 d-md-block">
                <a class="btn btn-primary" href="/Admin/Cita/UpsertD/@Model.Cita.Id">Editar</a>
                <a class="btn btn-success" href="/">regresar</a>
            </div>

        </div>
    }
    else
    {
        <div class="container" bis_skin_checked="1">
            <h1 class="text-danger">Access denied</h1>
            <p class="text-danger">You do not have access to this resource.</p>
        </div>
    }
</form>