@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@using ConsultorioDental.Utilidades

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = UserManager.GetUserId(User);
}
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<h2 class="text-primary">Lista de Citas</h2>
		</div>
		<div class="col-lg-6">
			<a class="btn btn-outline-primary" asp-action="Upsert">
				<i class="bi bi-plus-square-fill m-1"></i>Crear nueva Cita
			</a>
		</div>
	</div>

	<div class="p-4 border rounded bg-light">
		<table id="tblDatos" class="table table-responsive table-hover">
			<thead class="table-dark">
				<tr>
					<th>Fecha</th>
					<th>Hora</th>
					<th>Tratamiento</th>
					<th>Costo</th>
					<th>Paciente</th>
					<th>Estado</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>

</div>


@if (User.IsInRole(DS.Role_Dentista))
{
    @section Scripts {
        <script src="~/js/citaAdmin.js"></script>
    }
}

@if (User.IsInRole(DS.Role_Paciente))
{
    @section Scripts {
        <script>
            var loggedInUserId = '@userId';
        </script>
        <script src="~/js/cita.js"></script>
    }

   <style>
        #completada {
            display: none;
        }
   </style>

}