@using ConsultorioDental.Utilidades
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<h2 class="text-primary">Lista de Tratamientos</h2>
		</div>
		@if (User.IsInRole(DS.Role_Dentista))
		{
			<div class="col-lg-6">
				<a class="btn btn-outline-primary" asp-action="Upsert">
					<i class="bi bi-plus-square-fill m-1"></i>Crear nuevo Tratamiento
				</a>
			</div>
		}
	</div>

	<div class="p-4 border rounded bg-light">
		<table id="tblDatos" class="table table-responsive table-hover">
			<thead class="table-dark">
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Costo</th>
					<th>Estado</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
</div>


@if (User.IsInRole(DS.Role_Dentista))
{
    @section Scripts {
    <script src="~/js/tratamientoAdmin.js"></script>
    }

}
@if (User.IsInRole(DS.Role_Paciente))
{
    @section Scripts {
    <script src="~/js/tratamiento.js"></script>
    }

}

